{% extends 'base.html' %}
{% load static %}

{% block title %}
    TinyTaleFactory
{% endblock %}

{% block content %}

    <div class="profile-site-wrapper">
        {# Left Side Starts Here #}
        <div class="profile-wrapper-left">

            <div class="profile-card">

                <i id="profile-settings" class="fa-solid fa-gear"></i>
                <div class="top-motive"></div>

                <div class="profile-image-container">
                    <img src="https://th.bing.com/th/id/OIG2.HxUYyDVAk2NeRBQOw7Fm?pid=ImgGn" alt="prof">
                </div>

                <div class="user-name-wrapper">
                    <h3>{{ user }}</h3>
                </div>

                <div class="user-info-wrapper">
                    <ul class="user-info-list">

                        <li class="user-info-list-items">
                            <i class="fa-solid fa-book-open awesome"></i>
                            <span>0</span>
                            <p>Your Generated Stories</p>
                        </li>

                        <li class="user-info-list-items">
                            <i class="fa-solid fa-coins awesome"></i>
                            <span>1</span>
                            <p>Your Total Tokens</p>
                        </li>

                        <li class="user-info-list-items">
                            <i class="fa-regular fa-circle awesome"></i>
                            <span>0</span>
                            <p>Your Free Tokens</p>
                        </li>
                    </ul>
                </div>

                <div class="on-hover-wrapper"><p>Initial</p></div>

                <div class="settings-options-wrapper">
                    <ul>
                        <li id="display-stories">Show Stories</li>
                        <li id="change-user-info">Change User Info</li>
                        <li id="email-settings">Email Settings</li>
                        <li id="password">
                            {% if user.password %}
                                Change Password
                            {% else %}
                                Set Password
                            {% endif %}
                        </li>
                    </ul>
                </div>

                <div class="user-more-info">
                    <p>Member since: {{ user.date_joined|date }}</p>
                    <p>Last login: {{ user.last_login|date }}</p>
                    <button class="btn buy-more"><i id="get-tokens" class="fa-solid fa-hand-holding-dollar"></i> Get
                        Tokens
                    </button>
                </div>

            </div>
        </div>
        {# Left Side Ends Here #}

        {# Right Side Starts Here #}
        <div id="profile-wrapper-right" class="profile-wrapper-right"></div>
        {# Right Side Ends Here #}

    </div>


    <script>
        const url = `{% url 'api-list-stories' %}`;
        const CSRFToken = `{% csrf_token %}`;
        const CSRFTokenValue = `{{ csrf_token }}`;
        const nestedStyleUrl = `{% static 'css/allauth/nested-allauth.css' %}`;
        const accountEmailUrl = `{% url 'account_email' %}`;
        const accountSetPasswordSetUrl = `{% url 'account_set_password' %}`;
        const accountChangePasswordUrl = `{% url 'account_change_password' %}`;
        const getStoriesURL = `{% url 'api-list-stories' %}`;
        const baseStoryViewUrl = `{% url 'view-story' 'placeholder'%}`;
        const startPaymentUrl = ` {% url 'api-payment-create' %}`;
        const totalTokens = `{{ request.user.tokens.total_tokens }}`;
        const promotionalTokens = `{{ request.user.tokens.promotional_tokens }}`
    </script>

    <script src="{% static 'js/profile/profileOptions.js' %}"></script>
    <script src="{% static 'js/profile/paypalScript.js' %}"></script>
    <script src="{% static 'js/profile/profileScript.js' %}"></script>

{% endblock %}
