{% extends "account/base_entrance.html" %}
{% load static %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
    <div class="container">
        <div class="left-nested-container">
            {% element h1 %}
                {% trans "Sign In" %}
            {% endelement %}
            {% if not SOCIALACCOUNT_ONLY %}
                {% setvar link %}
                    <a href="{{ signup_url }}">
                    {% endsetvar %}
                    {% setvar end_link %}
                    </a>
                {% endsetvar %}
                <p>
                    {% blocktranslate %}If you have not created an account yet, then please {{ link }}sign up{{ end_link }} first.{% endblocktranslate %}
                </p>
                {% url 'account_login' as login_url %}
                {% element form form=form method="post" action=login_url tags="entrance,login" %}
                    {% slot body %}
                        {% csrf_token %}
                        {% element fields form=form class=formfield unlabeled=True %}
                        {% endelement %}
                        {{ redirect_field }}
                    {% endslot %}
                    {% slot actions %}
                        {% element button type="submit" tags="prominent,login" class="main-button" %}
                            {% trans "Sign In" %}
                        {% endelement %}
                    {% endslot %}
                {% endelement %}
            {% endif %}
        </div>
        <div class="right-nested-container">
            {% if SOCIALACCOUNT_ENABLED %}
                {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
            {% endif %}
        </div>
    </div>
{% endblock content %}
