{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
        <div class="container">
            <div class="nested-container-100-width">
                {% element h1 %}
                    {% trans "Change Password" %}
                {% endelement %}
                <p>{% trans 'Your password is now changed.' %}</p>
            </div>
        </div>
{% endblock content %}
