{% load static %}

<footer>
    
    <div class="footer-content-container not-visible">
        <div class="left-side">
            <h4>Jump into a world of creativity and excitement, by creating a personalized kids book with us</h4>
            <img src="{% static 'images/rabit-jump-02.gif' %}" alt="bounce">
        </div>
        
        <div class="right-side">
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'sample-stories' %}">Samples</a></li>
                    <li><a href="{% url 'contact' %}">Contacts</a></li>
                    <li><a href="{% url 'how-to' %}">How to</a></li>
                    {% if not user.is_authenticated %}
                        <li><a href="{% url 'account_login' %}">Login</a></li>
                        <li><a href="{% url 'account_signup' %}">Sign up</a></li>
                    {% else %}
                        <li><a href="{% url 'profile-page' %}">Account</a></li>
                    {% endif %}
                </ul>
            </nav>
            
        </div>
        
        <p class="footer-copyright-p"><i class="fa-regular fa-copyright"></i> tinytailfactory.com</p>
    </div>
    
</footer>