.messages-container {
    position: absolute;
    top: 8rem;
    left: 0;
    right: 0;
    background-color: #fff;
    max-width: 900px;
    width: 100%;
    border-radius: 0.3em;
    padding: 1em;
    overflow: hidden;
    color: #666;
    margin: 0 auto;
}

.messages-container ul {
    padding-bottom: 0;
    max-width: 100%;
}

.messages-container button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5em 0.8em;
    border: none;
    cursor: pointer;
    background-color: orange;
    color: #fff;
    border-radius: 0 0.3em 0 0.3em;
    box-shadow: -2px 0 0.3em 0 rgb(0,0,0,0.2);
    transition: background-color ease-in 0.3s, color ease-in 0.3s;
}

.messages-container button:hover {
    background-color: darkorange;
    color: #333;
}