header {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin: -1em -1em 0 -1em;
    padding-left: 1em;
    border-bottom: 1px solid rgb(2, 42, 71, 0.05);
}

header h1 {
    font-size: 2rem;
    z-index: 2;
}

header img {
    max-height: 2em;
    position: absolute;
    bottom: 0;
    animation: 15s linear 0s infinite running boy-run;
    z-index: 1;
}

@keyframes boy-run {
  from {
    transform: translateX(-3em);
  }
  to {
    /* returns the sun to its default position */
    transform: translateX(100vw);
  }
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 2;
}

.navigation ul {
    display: flex;
    padding: 0;
}

.navigation ul li{
    display: inline-block;
}

.navigation ul li a {
    position: relative;
    display: block;
    padding: 1.5em;
    text-decoration: none;
    color: steelblue;
        transition: background-color ease-in 0.3s, color ease-in 0.3s;

}

.navigation ul li a:hover {
    background-color: orange;
    color: #fff;
}

.navigation ul li a:hover::before {
    opacity: 0;
}

.navigation ul li a::before {
    display: block;
    content: '';
    height: 80%;
    border-left: 1px solid #eee;
    position: absolute;
    top: 10%;
    left: 0;
    transition: opacity ease-out 0.3s;
}
