{% extends 'base.html' %}
{% load static %}

{% block title %}
    TinyTaleFactory
{% endblock %}

{% block content %}

    <div class="site not-visible">

        <main class="header-container centered-flex">
            <h1 id="generate-from-questionary-header">Fill out the questionary and click on generate to start creating a
                story.</h1>
            <p>Fields marked with asterisk * are required</p>

            <form class="questionary" action="{% url 'generate-story-questionary' %}" method="POST"
                  style="width: 100%;">
                {% csrf_token %}

                <div class="form-fieldset">
                    <div class="form-field">
                        <input type="text" name="title" id="title" placeholder="">
                        <label for="title">Story Title</label>
                    </div>

                    <div class="form-field">
                        <input type="text" id="name" name="name" placeholder="">
                        <label for="name">Kids Name</label>
                    </div>

                    <div class="form-field">
                        <textarea  id="appearance" name="appearance" placeholder="" rows="4"></textarea>
                        <label for="appearance">Kids Appearance</label>
                        <span>The better the description, the better AI generates the results.</span>
                    </div>
                </div>

                <div class="form-fieldset">
                    <div class="form-field">
                        <textarea name="story-about" id="about" cols="30" rows="10" placeholder=""></textarea>
                        <label for="about">Story About Info</label>
                    </div>

                    <div class="form-field">
                        <input type="text" name="special-emphasis" id="special-emphasis" placeholder="">
                        <label for="special-emphasis">Special emphasis</label>
                        <span>If you would like to emphasise something in the story enter it here.</span>
                    </div>
                </div>
                {# TODO: Fix styles #}
                <div class="form-field" style="position: relative; z-index: 10;">
                    <input type="button" value="Generate Story" name="submit" id="button">
                </div>
            </form>


        </main>

    </div>
    <script>
        const baseGenerateFromQuestionaryUrl = `{% url 'api-generate-story' 'true' %}`;
        const baseViewStoryUrl = `{% url 'view-story' 'placeholder' %}`;
    </script>
    <script src="{% static 'js/generate-stories/storiesUtils.js' %}"></script>
    <script src="{% static 'js/generate-stories/generateStoryFromQuestionary.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelector('body').classList.add('story-generate-background');
        })
    </script>

{% endblock %}
