{% extends 'base.html' %}
{% load static %}

{% block title %}
    TinyTaleFactory
{% endblock %}

{% block content %}

    <div class="site">

        <main class="header-container">
            <h1 class="generate-from-category-header">You can choose the type of story you want to generate based on the category.</h1>

            <ul class="generate-from-cat-list">
            {% for name, desc in categories_info.items %}
                <div class="list-container">

                    <p id="category-description-header" onclick="showDropdown(this)">{{ name }}</p>
                    <p id="{{ name }}" style="display: none;">{{ desc }}</p>

                    <button id="{{ name }}-button" style="display: none;" onclick="continueWithStory(this)">
                        Continue
                    </button>

                    <form class="continue-form" style="display: none" id="{{ name }}-form">
                        
                        <div class="continue-form-field">
                            <p>
                                This is to confirm that you are continuing generating a kid story from already
                                pre-defined categories. Your tokens will be used against this generation.
                            </p>
                        </div>
                        
                        <div class="continue-form-field">
                            <input type="button" value="Generate Story" name="{{ name }}" onclick="generateFromCategory(this)">
                        </div>

                    </form>
                </div>
            {% endfor %}
            </ul>
        
        </main>

    </div>
    
    <script>
    const baseGenerateUrl = `{% url 'api-generate-story' 'false' %}`;
    </script>
    
    <script src="{% static 'js/generate-stories/generateStoryFromCategory.js' %}"></script>
    
{% endblock %}