{% extends 'base.html' %}
{% load static %}

{% block title %}
    TinyTaleFactory
{% endblock %}

{% block content %}

    <div class="site" style="flex: 1 1 auto;">

        <main class="header-container">
            <h1>You can choose the type of story you want to generate based on the category.</h1>

            <ul>
            {% for name, desc in categories_info.items %}
                <div class="list-container">

                    <p onclick="showDropdown(this)">{{ name }}</p>
                    <p id="{{ name }}" style="display: none;">{{ desc }}</p>

                    <button id="{{ name }}-button" style="display: none;" onclick="continueWithStory(this)">
                        Continue
                    </button>

                    <form class="continue-form" style="display: none" id="{{ name }}-form">
                        
                        <div class="continue-form-field">
                            <p>
                                This is to confirm that you are continuing generating a kid story from already
                                pre-defined categories. Your tokens will be used against this generation.
                            </p>
                        </div>
                        
                        <div class="continue-form-field">
                            <input type="button" value="Generate Story" name="{{ name }}" onclick="generateFromCategory(this)">
                        </div>

                    </form>
                </div>
            {% endfor %}
            </ul>




        </main>

    </div>

    <script>
        function showDropdown(element){
            console.log('ELEMENT CLICKED');
            const nameAttribute = element.textContent.trim();
            const dropDown = document.getElementById(nameAttribute);
            const generateButton = document.getElementById(nameAttribute + '-button');

            dropDown.style.display === 'none' ? dropDown.style.display = 'block' : dropDown.style.display = 'none';
            generateButton.style.display === 'none' ? generateButton.style.display = 'block' : generateButton.style.display = 'none';
            // TODO: When the final HTML is ready, on clicking the element, toggle the children's display mode as well
        }

        function continueWithStory(element) {
            const formId = element.id.replace('button', 'form');
            const formElement = document.getElementById(formId);

            formElement.style.display === 'none' ? formElement.style.display = 'block' : formElement.style.display = 'none';
        }

        function generateFromCategory(element){

            {# TODO: Check if there is kid name or story Id to proceed, if there is none, display warning #}

            catName = element.name.toLowerCase().split(' ').join('_');
            console.log(catName);

            const urlQuery = `?category=${catName}`;
            const url =  `{% url 'api-generate-story' 'false' %}` + urlQuery;

            fetch(url)
                .then(response => response.json())
                .then(data => console.log('Json Response: ', data))
                .catch(error => console.log('Error:', error));
            
            // TODO: When getting the response, check if valid, and if valid get link to show story.


            {#console.log('Generate Button Clicked');#}
            {##}
            {#const categoryName = Array#}
            {#    .from(element.parentElement.children)[0]#}
            {#    .textContent#}
            {#    .replace(' ', '_')#}
            {#    .toLowerCase();#}
            {##}
            {#console.log(categoryName);#}
        }

    </script>

{#    <script>#}
{#        document.getElementById('button').addEventListener('click', function(event) {#}
{#            const storyTitle = document.getElementById('title').value;#}
{#            const childName = document.getElementById('name').value;#}
{#            const appearance = document.getElementById('appearance').value;#}
{#            const storyAbout = document.getElementById('about').value;#}
{#            const specialEmphasis = document.getElementById('special-emphasis').value;#}
{#            #}
{#            const urlQuery = #}
{#                `?name=${childName}&appearance=${appearance}&story-about=${storyAbout}#}
{#                &special-emphasis=${specialEmphasis}&title=${storyTitle}`;#}
{#                #}
{#            event.preventDefault();#}
{#            #}
{#            const url =  `{% url 'api-generate-story' 'true' %}` + urlQuery;#}
{#            console.log(url);#}
{#            #}
{#            fetch(url)#}
{#                .then(response => response.json())#}
{#                .then(data =>{#}
{#                    console.log('Api Response:', data);#}
{#                })#}
{#                .catch(error=>{#}
{#                    console.log('Error', error);#}
{#                });#}
{#        });#}
{#    </script>#}

{% endblock %}