{% extends 'base.html' %}
{% load static %}

{% block title %}
    Payment Successful
{% endblock %}

{% block content %}

    <main class="order-info-container">
        <article id="article-element">
            <div class="loader"></div>
        </article>
        {% csrf_token %}
    </main>
    
    <script>
        const paymentExecuteUrl = `{% url 'api-payment-execute' %}`;
        const orderId = `{{ order_id }}`;
        const csrfTokenValue = `{{ csrf_token }}`;
    </script>

    <script src="{% static 'js/paypal/paymentExecute.js' %}"></script>
{% endblock %}
