@import url('../reset.css');
@import url('../typography.css');

body {
    background-image:   linear-gradient(
    to bottom,
    rgb(180 120 10 / 50%),
    rgb(0 0 255 / 50%)), url("../../images/background-image.png");
    object-fit: scale-down;
    background-position: center;
    background-size: cover;
}

.messages-container {
    max-width: 1000px;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 1em;
    border-radius: 0.3em;
    position: relative;
    overflow: hidden;
    padding: 1em;
}

.messages-container ul {
    padding-bottom: 0;
}

#close-messages-button {
    display: block;
    width: 2.5rem;
    aspect-ratio: 1/1;
    border-radius: 0 0 0 0.3em;
    background-color: darkorange;
    color: #fff;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: background-color ease-in 0.3s, opacity ease-in-out 0.5s;
    box-shadow: -1px 1px 1px 0 rgb(0,0,0,0.2);
}

#close-messages-button:hover {
    background-color: orange;
}

.menu {
    background-color: #fff;
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.2);
    font-size: 1.2em;
}

.menu strong {
    padding: 1em;
}

.menu ul {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline-block;
}

.menu ul li a {
    display: block;
    padding: 1em;
    color: #444;
    transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;
    min-width: 8em;
    text-align: center;
}

.menu ul li a:hover {
    background-color: orange;
    color: #fff;
}

/*.menu li:first-child {*/
/*    margin: 0 2em;*/
/*}*/

a {
    text-decoration: none;
    color: #36f;
}

a:visited {
    color: #11f;
}

.container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #fff;
    max-width: 1000px;
    padding: 1em;
    box-sizing: border-box;
    margin: 2em auto;
    gap: 1em;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.2);

}

.left-nested-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 70%;
}

.left-nested-container form p {
    text-align: left;
    padding: 0.5em;
}

.left-nested-container form[action="/account/3rdparty/"] p {
    text-align: center;
}

.main-button {
    margin: 1em 0;
    padding: 1em 3em;
    background-color: #fff;
    border-radius: 0.3em;
    border: none;
    box-shadow: 0 0.1em 0.5em 0 rgb(0,0,0,0.1);
    transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;
}

.main-button:hover {
    cursor: pointer;
    background-color: darkorange;
    color: #fff;
    box-shadow: 0 0.1em 0.5em 0 rgb(0,0,0,0.3);
}

.danger-button {
    margin: 1em 0;
    padding: 1em 3em;
    background-color: #fff;
    border-radius: 0.3em;
    border: none;
    box-shadow: 0 0.1em 0.5em 0 rgb(0,0,0,0.1);
    transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;
}

.danger-button:hover {
    cursor: pointer;
    background-color: firebrick;
    color: #fff;
    box-shadow: 0 0.1em 0.5em 0 rgb(0,0,0,0.3);
}

.buttons-container {
    display: flex;
    gap: 1em;
    padding: 1em;
}

.left-nested-container form p label {
    width: 100%;
}

.left-nested-container form[action="/account/email/"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-nested-container form[action="/account/email/"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-nested-container form[action="/account/email/"] {
    flex-grow: 1;
    padding: 0;
}

.right-nested-container form[action="/account/email/"] p {
    text-align: left;
}

.right-nested-container .form-control {
    font-size: 1em;
}

.right-nested-container {
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgb(0,0,0,0.1);
    padding-left: 1rem;
}

.right-nested-container li {
    list-style-type: none;
    margin-top: 3em;
}


.right-nested-container a img {
    border-radius: 50%;
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.1);
    transition: background-color ease-in-out 0.3s;
}

.right-nested-container a img:hover {
    background-color: lightblue;
}

.add-email-header {
    font-size: 2.2rem;
}


.form-control,
input[name="password"] {
    padding: 0.5em;
    font-size: 1.2em;
    color: #444;
    border-radius: 0.3em;
    border: none;
    width: 100%;
    margin-top: 0.5em;
    box-shadow: 0 0 0.5em 0 rgb(80,80,80,0.1);
}

.form-control:focus-visible,
input[name="password"]:focus-visible {
    outline: 2px solid darkorange;
}

.helptext {
    display: block;
    margin-top: 1em;
}

#id_remember {
    margin-left: 0.5em;
}

.nested-container-100-width {
    display: block;
    font-weight: lighter;
    width: 100%;
}

.nested-container-60-width {
    display: block;
    font-weight: lighter;
    width: 60%;
    margin: 0 auto;
}

.nested-container-60-width p,
.nested-container-60-width li {
    text-align: left;
}

.nested-container-60-width ul {
    list-style-type: none;
    color: #666;
    padding: 0;
}

.nested-container-60-width .errorlist {
    color: #f66;
    margin-bottom: 1em;
}

.reset-password-link {
    display: block;
    width: 100%;
}


@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .right-nested-container {
        border-left: none;
    }

    .right-nested-container form[action="/account/email/"] {
        align-items: normal;
    }

    .right-nested-container .form-control {
        font-size: 1.2em;
    width: 100%
    }

    .right-nested-container h2::after {
        display: block;
        content: '';
        background-color: #eee;
        border-bottom: 1px solid #ddd;
        margin: 2rem auto 1rem auto;
        max-width: 8rem;
    }

    .left-nested-container h1::after {
        display: block;
        content: '';
        background-color: #eee;
        border-bottom: 1px solid #ddd;
        margin: 2rem auto 1rem auto;
        max-width: 8rem;
    }

}

.left-nested-container form[action='/account/signup/'] li {
    list-style-type: none;
    text-align: left;
    color: #666;
    padding-left: 0.5em;
}

.left-nested-container form[action='/account/signup/'] ul {
    padding-left: 0;
}

.left-nested-container form[action='/account/signup/'] .errorlist li {
    color: #f66;
}

@media (max-width: 600px) {
    .buttons-container {
        flex-direction: column;
        width: 100%;
    }

    .buttons-container button {
        margin: 0;
        width: 100%;
    }

    .nested-container-60-width {
        width: 100%;
    }
}
