body {
    padding: 0;
    background-color: #fff;
}

.container {
    margin: 0;
    max-width: 100%;
    width: 100%;
    min-height: 100vh;
}

.menu {
    display: none;
}

.left-nested-container {
    justify-content: center;
    align-items: center;
}

.right-nested-container {
    justify-content: center;
    align-items: center;
}

.right-nested-container form[action="/account/email/"] {
    flex-grow: 0;
}

#messages-container {
    position: absolute;
    left: 5em;
}

@media (max-width: 800px) {
    .container {
        border-radius: 0;
    }

    .nested-container-60-width h1 {
        font-size: 1.8rem;
    }

    .left-nested-container h1 {
        font-size: 1.8rem;
    }

    .right-nested-container h2 {
        font-size: 1.6rem;
    }
}
