@import "../reset.css";
@import "../typography.css";

html {
    scroll-behavior: smooth;
}

body {
    color: rgb(2, 42, 71, 0.8);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4e54c8;
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);
    background: linear-gradient(to right, #8f94fb, #4e54c8);
}

body > i:first-of-type {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.2rem;
    padding: 1em;
    background-color: rgb(2, 42, 71, 0.05);
    border-bottom-right-radius: 0.3em;
    transition: background-color 0.3s linear, color 0.3s linear;
}

body > i:first-of-type:hover {
    cursor: pointer;
    background-color: rgb(2, 42, 71, 0.8);
    color: #eee;
}

#scroll-up {
    display: none;
    position: fixed;
    bottom: 4rem;
    right: 2rem;
    padding: 1.3rem;
    background-color: rgb(255, 255, 255, 0.3);
    box-shadow: 0 0 1em 0 rgb(2, 42, 71, 0.1);
    border-radius: 50%;
    z-index: 1;
}

#scroll-up:hover {
    cursor: pointer;
    background-color: #fff;
}

main {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    transition: opacity 0.2s ease-out;
}


.story-container {
    position: relative;
    max-width: 60rem;
    width: 100%;
    padding: 1rem 2rem 2rem 2rem;
    background-color: #fff;
    border-radius: 0.3rem;
    box-shadow: 0 0 1em 0 rgb(2, 42, 71, 0.3);
}

.story-container h1 {
    display: block;
    text-align: center;
    margin-top: 0;
    font-weight: lighter;
    font-size: 2.2rem;
}

.content-swappable {
    flex-direction: column;
    gap: 1rem;
}

.content-swappable {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade{
  from {opacity: 0}
  to {opacity: 1}
}



.content-swappable > p {
    font-size: 1.2rem;
    text-indent: 2em;
    letter-spacing: 1px;
    line-height: 2;
}

.content-swappable >p:first-letter {
    font-size: 4rem;
    font-family: "Rockwell Condensed", sans-serif;
    line-height: 1;
}

/* Media and media controls */
.media {
    position: relative;
    width: 100%;
    aspect-ratio: 1/0.8;
    background-color: #3366ff;
    border-radius: 0.5rem;
    overflow: hidden;
    color: #eee;
    /*box-shadow: 0 0 1em 0.3em rgb(2, 42, 71, 0.2);*/
}

.media img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.media i:first-of-type {
    position: absolute;
    top: calc(50% - 2.5rem);
    left: 0;
    padding: 2rem 1rem;
    background-color: rgb(2, 42, 71, 0.05);
    border-radius: 0 0.5rem 0.5rem 0;
    transition: background-color 0.2s linear, color 0.2s linear;
}

.media i:first-of-type:hover, .media i:last-of-type:hover {
    cursor: pointer;
    background-color: rgb(2, 42, 71, 0.5);
    color: #eee;
}

.media i:last-of-type {
    position: absolute;
    top: calc(50% - 2.5rem);
    right: 0;
    background-color: rgb(2, 42, 71, 0.05);
    padding: 2rem 1rem;
    border-radius: 0.5rem 0 0 0.5rem;
    transition: background-color 0.2s linear, color 0.2s linear;
}


/* dots container */
.dots-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.dot {
    width: 1rem;
    aspect-ratio: 1/1;
    background-color: rgb(2, 42, 71, 0.2);
    border-radius: 50%;
    transition: background-color 0.2s linear;
}

.active {
    background-color: rgb(2, 42, 71, 0.8);
}

.dot:hover {
    cursor: pointer;
    background-color: rgb(2, 42, 71, 0.5);
}

#pre-save-story, #save-story {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 0.3rem 0 0 0;
    transition: background-color 0.2s linear, color 0.2s linear;
}

#return {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 0 0.3rem 0 0;
    transition: background-color 0.2s linear, color 0.2s linear;
}

#save-story:hover, #pre-save-story:hover, #return:hover {
    cursor: pointer;
    background-color: rgb(2, 42, 71, 0.2);
}

/* Generated books styles */
.generate-book {
    margin:0 auto;
    padding: 0;
    transition: opacity 1s linear;
    opacity: 0;
}

.controller {
    max-width: 210mm;
    padding: 1em 3.5rem;
    position: relative;
    background-color: #fff;
    text-align: center;
    margin-bottom: 1em;
    opacity: 0;
    transition: opacity 1s linear;
}

.controller p {
    display: block;
    padding: 0;
}

.page {
    position: relative;
    max-width: 210mm;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 296.8mm;
    page-break-after: always; /* Ensures page break after each .page */
    padding-top: 0.1rem;
    background-color: #fff;
    transition: max-width 1s linear, min-height 1s linear, height 1s linear;
}

.page .media  {
    border-radius: 0;
}

.cover-page {
    background-color: rgb(0, 17, 51);
    color: #eee;
    display: flex;
    align-items: center;
    min-height: 296.85mm;
    width: 100%;
    max-width: 210mm;
}



.page p:first-of-type {
    display: block;
    text-align: left;
    font-size: 1.5rem;
    padding: 2rem;
    letter-spacing: 0.1rem;
}

#cover-page-header {
    font-size: 6rem;
    display: block;
    text-align: center;
    padding: 0 2rem;
}

.color-picker {
    position: absolute;
    padding: 1rem;
    right: 0;
    bottom: 0;
}

.input-field {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    gap: 0.5rem;
    line-height: 1.5;
}

input[type="color"] {
    border: none;
    width: 3rem;
    height: 1.5rem;
    box-shadow: none !important;
    outline: none !important;
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
}

input[type="color"]:hover {
    cursor: pointer;
}

/* Page size styling */
.page-size-container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    max-width: 10rem;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

#page-size-select {
    background-color: #fff;
    border: none;
    border-radius: 0.3rem;
    padding: 0 0.3rem;
    transition: background-color 0.2s linear;
}

#page-size-select:hover {
    background-color: #eee;
    cursor: pointer;
}

/* Font size slider */
.slider-container {
    max-width: 25rem;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    padding: 1rem;
    display: flex;
    gap: 0.5rem;
    line-height: 0.2;
    background-color: #fff;
    color: rgb(2, 42, 71);
    border-radius: 0.5rem;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    flex: 1 1 auto;
    height: 0.5rem;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s; /
    transition: opacity .2s;
    border-radius: 0.3rem;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    aspect-ratio: 1/1;
    background: rgb(2, 42, 71, 0.8);
    cursor: pointer;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 1rem;
    aspect-ratio: 1/1;
    background: rgb(2, 42, 71, 0.8);
    cursor: pointer;
    border-radius: 50%;
    border: none;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
}

@media screen and (max-width: 600px) {
    body {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
    }
}

@media print {
    .page, .cover-page {
        height: 297mm; /* A4 height */
        width: 210mm; /* A4 width */
        margin: 0; /* Reset margin */
        padding: 0; /* Reset padding */
        overflow: hidden; /* Prevent overflow */
        page-break-after: always; /* Ensure a page break after each .page */
        page-break-inside: avoid; /* Avoid breaking inside */
    }
}