.profile-page-background {
    background: #2BC0E4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.profile-site-wrapper {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    flex: 1 1 auto;
}

.profile-wrapper-left {
    flex: 0 1 30%;
    min-height: 42rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s linear;
}

.profile-wrapper-right {
    flex: 1 1 60%;
    min-height: 300px;
    max-height: 42rem;
    overflow-x: hidden;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 1em 0 rgb(2, 42, 71, 0.3);
    transition: opacity 1s linear;
}

.profile-card {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: #fff;
    max-width: 30em;
    overflow: hidden;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.2);
}

#profile-settings {
    color: #444;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2em;
    padding: 0.5em;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

#profile-settings:hover {
    background-color: rgb(255, 102, 102);
    cursor: pointer;
    border-radius: 0 0 0 0.3em;
    color: #eee;
}

.top-motive {
    min-height: 5em;
    background-color: rgb(255, 102, 102, 0.8);
    flex: 1 1 100%;
}

.profile-image-container {
    width: 6em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 1em;
    left: calc(50% - 3em);
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.3);
}

.profile-image-container img {
    width: 100%;
}

.settings-options-wrapper {
    display: none;
    flex-wrap: wrap;
}

.settings-options-wrapper ul {
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    transition: opacity 0.5s ease-in-out;

}

.settings-options-wrapper ul li {
    flex: 1 1 100%;
    padding: 1em 2em;
    text-align: center;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.settings-options-wrapper ul li:hover {
    cursor: pointer;
    background-color: rgb(255, 102, 102);
    color: #fff;
}

.settings-options-wrapper ul li:last-child {
    margin-bottom: 2em;
}

.user-name-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 100%;
    margin-top: 2em;
}

.user-info-wrapper {
    display: flex;
    flex: 1 1 100%;
}

.user-info-list {
    list-style-type: none;
    flex: 1 1 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.user-info-list-items {
    padding-right: 1em;
    transition: background-color 0.5s ease-in-out;
}

.user-info-list-items:hover {
    background-color: #eee;
    border-radius: 0.3em;
    cursor: pointer;
}

.user-info-list-items p {
  display: none;
}

.on-hover-wrapper {
    display: flex;
    flex: 1 1 100%;
}

.on-hover-wrapper p {
    opacity: 0;
    transition: opacity 0.5s ease-in;
    text-align: center;
    width: 100%;
}

.user-more-info {
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-more-info p {
    width: 100%;
    text-align: center;
}

.buy-more {
    padding: 0.6em 1.5em;
    margin-bottom: 1.5em;
    color: #444;
    background-color: rgb(255, 102, 102, 0.8);
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.buy-more:hover {
    background-color: rgb(255, 102, 102);
    color: #eee;
}

.buy-more:active {
    outline: 1px solid #444;
}

.buy-more:hover #get-tokens {
    color: #fff;
}

#get-tokens {
    font-size: 1.2rem;
    color: #444;
    transition: color 0.5s ease-in-out;
}

/*TODO: change the fonts and all*/
.awesome {
    padding: 1em;
}

/* Right Side Wrapper Starts */
/* user info change */
.right-info-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
    background-color: #fff;
    border-radius: 0.3em;
    justify-content: center;
    align-items: center;
    transition: opacity 0.6s ease-in-out;
}

.right-info-wrapper h2 {
    width: 100%;
    text-align: center;
}

.change-user-info-form{
    flex-basis: 100%;
    padding: 2em;
    width: 100%;
    max-width: 35em;
}

.user-info-form-field {
    display: flex;
    width: 100%;
    margin-bottom: 1em;
}

.user-info-form-field:not(:last-child) {
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.2);
    overflow: hidden;
    border-radius: 0.5em;
}

.user-info-form-field label {
    padding: 0.5em;
    width: 30%;
    background-color: steelblue;
    color: #eee;
    text-align: right;
    font-size: 0.9em;
    text-wrap: nowrap;
}

.user-info-form-field input {
    width: 70%;
    padding: 0.5em;
    border: none;
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.2);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.user-info-form-field input:focus {
    outline: none;
    background-color: #eee;
    color: #222;
}

.user-info-form-field button {
    margin: 1em 0;
    border: none;
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.1);
    padding: 0.5em 1em;
    border-radius: 0.3em;
    background-color: #fff;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.user-info-form-field button:hover {
    cursor: pointer;
    background-color: rgb(255, 102, 102, 0.8);
    color: #fff;
}

.success-warning {
    background-color: rgb(255, 102, 102);
    font-weight: bolder;
    transition: opacity 5s linear;
    opacity: 0;
}

/* Right Side Wrapper For Stories Display */

.stories-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    transition: opacity 1s linear;
}

.stories-wrapper h2:first-child {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: normal;
}

.story-card {
    background-color: #fff;
    position: relative;
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    max-width: 25rem;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0 1em 0 rgb(2, 42, 71, 0.2);
}

.story-card:last-of-type {
    margin-bottom: 2rem;
}

.story-media {
    width: 8rem;
    max-height: 8rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    flex: 0 0 auto;
}

.story-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.story-info-article {
    flex: 1 1 auto;
}

.story-info-article h3 {
    font-weight: normal;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgb(255, 102, 102, 0.3);
}

.story-info-article > p {
    padding-bottom: 0;
    opacity: 0.8;
    font-size: 0.8rem;
}

.story-info-article > a {
    text-decoration: none;
    color: steelblue;
    transition: color 0.3s linear;
}

.story-info-article > i {
    position: absolute;

}

.story-info-article > a:hover ~ i, .story-info-article > a:hover {
    color: rgb(255, 102, 102, 0.8);
}

.story-info-article > i {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    transition: color 0.3s linear;
}

/* styling buy tokens */

.buy-tokens-info {
    text-align: center;
    max-width: 42rem;
    padding: 0 1rem;
}

.token-buy-form {
    box-shadow: 0 0 1em 0 rgb(2, 42, 71, 0.3);
    border-radius: 0.3rem;
    padding: 1rem;
    max-width: 20rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 3rem auto;
}

.tokens-form-field {
    display: flex;
    justify-content: space-between;
    flex: 1 1 100%;
    font-size: 1.2rem;
    line-height: 1;
}

.tokens-form-field label, .tokens-form-field i {
    padding-top: 0.5rem;
}

.tokens-buy-container {
    display: flex;
    gap: 0.8rem;
}

.tokens-form-field input {
    max-width: 6rem;
    padding: 0.3rem 0.8rem;
    -moz-appearance: textfield;
    -webkit-appearance: none;
    outline: none;
    border-radius: 0.5rem;
    border: 0;
    box-shadow: 0 0 1em 0 rgb(2, 42, 71, 0.1);
    text-align: center;
}

.tokens-form-field input:focus-visible {
    outline: 1px solid rgb(2, 42, 71, 0.8);
}

#tokens-price {
    margin-right: 1.8rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#minus-token {
    color: indianred;
    transition: color 0.3s linear;
}

#plus-token {
    color: darkseagreen;
    transition: color 0.3s linear;
}

#plus-token:hover {
    cursor: pointer;
    color: darkolivegreen;
}

#minus-token:hover {
    cursor: pointer;
    color: darkred;
}

.token-price-p {
    font-size: 1.2rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    max-width: 15rem;
    width: 100%;
}

#paypal-button-container {
    margin: 3rem auto;
}

#paypal-btn {
    padding: 1rem;
    box-shadow: 0 0 1em 0 rgb(2, 42, 71, 0.1);
    border-radius: 0.3rem;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s linear, background-color 0.3s linear, box-shadow 0.3s linear;
    display: flex;
    gap: 1rem;
    line-height: 1;
}

#paypal-btn:hover {
    cursor: pointer;
    background-color: steelblue;
    color: #eee;
    box-shadow: 0 0 1em 0 rgb(2, 42, 71, 0.3);
}

.buy-tokens-info strong {
    color: steelblue;
    font-weight: bold;
}

.loader-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255, 0.9);
}

.terms-and-cons-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    padding: 3rem 5rem;
    border-radius: 0.3rem;
}

.terms-and-cons-overlay h3 {
    font-size: 1.4rem;
    color: rgb(2, 42, 71, 0.8);
    text-align: left;
    max-width: 60rem;
    width: 100%;
}

.terms-and-cons-overlay p, .terms-and-cons-overlay a {
    color: rgb(2, 42, 71, 0.7);
    text-align: left;
    max-width: 60rem;
    width: 100%;
}


/* iframe styles */
iframe {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    width: 100%;
    height: 100%;
    border: none;
}

.selected {
    background-color: rgb(255, 102, 102, 0.8);
    color: #fff;
}


/* This is for the email-frame */
@media screen and (max-width: 800px) {
    iframe {
        min-height: 50rem;
    }
    .profile-site-wrapper {
        flex-direction: column;
    }
    .terms-and-cons-overlay {
        padding: 3rem;
    }
    .profile-wrapper-right {
        margin: 0 -2rem;
        max-height: none;
        min-height: 100%;
        border-radius: 0;
    }
    .stories-wrapper-right h2 {
        font-size: 1.8rem;
    }
}

