{% extends 'base.html' %}
{% load static %}

{% block title %}
    Tiny Tale Factory
{% endblock %}

{% block content %}
    <div class="site" style="display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 1rem; margin-top: 4rem;">
        <div class="forgive-me-media" style="max-width: 300px; align-self: center;  overflow: hidden; border-radius: 1rem;">
            <img style="width: 100%;" src="{% static 'images/forgive-me.gif' %}" alt="Forgive me">
        </div>
        <h3 style="text-align: center;">Oh no, it looks like you don't have permission for this resource!</h3>

        {% if exception %}
            <p style="max-width: 40rem; margin: 0 auto;">{{ exception }}</p>
        {% else %}
            <p>If the problem persists please <a href="{% url 'contact' %}">contact</a> us with more information about it.</p>
        {% endif %}


    </div>
{% endblock %}
