{% load static %}
{% load i18n %}
{% load allauth account %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v6.0.0/css/all.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    
    {% include 'partials/navbar.html' %}
    
    {% block content%}
    {% endblock %}
    
    {% include 'partials/footer.html' %}
{#    {% csrf_token %}#}
    
    <script>
        let notificationsURL = `{% url 'api-notifications' %}`;
        let baseNotificationSeenURL = `{% url 'api-update-notification' 0 %}`.replace('0/', '');
        let CSRFTokenValue = `{{ csrf_token }}`;
    </script>
    <script src="{% static 'js/messagesHide.js' %}"></script>
    <script src="{% static 'js/opacityRegulator.js' %}"></script>
    <script src="{% static 'js/notificationScript.js' %}"></script>
</body>
</html>
