{% extends 'base.html' %}
{% load static %}

{% block title %}
    Tiny Tale Factory
{% endblock %}

{% block content %}

    <div class="site">
    
    <div class="content-header-container">
        <h1>Some Cheeky Header</h1>
        <p>Explanation about what you can do with this website I guess</p>
    </div>
    
    <main>
        <a class="card" href="#">
            <div class="media">
                <img src="{% static 'images/kids-playing-white-bg.jpg' %}" alt="img1">
            </div>
            <div class="text">
            <h4>Recreating memorable moments</h4>
            <p>Making those memories extra special with generative AI animated booklet</p>
            </div>
        </a>
        
        <a class="card" href="#">
            <div class="media">
                <img src="{% static 'images/kids-playing-white-bg (2).jpg' %}" alt="img1">
            </div>
            <div class="text">
            <h4>Recreating memorable moments</h4>
            <p>Making those memories extra special with generative AI animated booklet</p>
            </div>
        </a>
    </main>
    
    </div>
    
    
{% endblock %}
